:root {
  --dark-gray: #333333;
  --light-font: #fff;
  --light-gray: #eeeeee;
  --white-input: #ffffff;
  --green: #84CC16;
  --bg-gray: #a4a4a4;
  --red: #E11D48;
  --orange: #F59E0B;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-gray);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: var(--dark-gray);
  color: var(--green);
  padding-left: 1em;
}

.footer {
  background-color: var(--dark-gray);
  color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.footer > a {
  text-decoration: none;
  color: var(--green);
  padding: .5em;
  cursor: pointer;
}

a:hover .logo {
  transform: rotate(360deg);
}

.logo {
  padding-left: .2em;
  font-size: 1.3em;
  transition: 0.6s ease-in-out;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3em;
  gap: 3em;
  align-items: start;
}

.card {
  background-color: var(--light-gray);
  border-radius: 10px;
  box-shadow: 12px 11px 6px 0px rgba(0,0,0,0.57);
  -webkit-box-shadow: 12px 11px 6px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 12px 11px 6px 0px rgba(0,0,0,0.57);
}

/* Forms */

.formSection {
  display: flex;
  flex-direction: column;
}

.formSection > input,
.formSection > textarea {
  max-width: 80%;
  border-radius: 3px;
  border: none;
  outline: none;
  margin: .5em;
  padding: .2em;
  font-size: 1.2em;
  background-color: var(--white-input);
}

.formSection > label {
  padding: .2em;
  margin: .5em;
}

.formSection > h2 {
  padding: .2em;
}

.btn {
  width: 80%;
  border-radius: 3px;
  border: none;
  outline: none;
  margin: .5em;
  padding: .2em;
  font-size: 1.2em;
  cursor: pointer;
}

.print {
  width: 100%;
  background-color: var(--orange);
}

.add {
  background-color: var(--green);
}

.delete {
  background-color: var(--red);
}

/* CV Card */

.cv-card {
  position: sticky;
  top: .8em;
}

.cvHeader {
  background-color: var(--green);
  border-radius: 10px 10px 0 0;
  min-height: 107px;
}

.cvHeader > h1 {
  color: var(--white-input);
  padding: .5em;
}

.cvHeader > h2 {
  color: var(--white-input);
  padding: .2em .6em;
}

.cvWrapper {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  padding: .5em;
  gap: 1em;
}

.infoTitle {
  color: var(--green);
  border-bottom: 2px solid var(--green);
  margin-bottom: .3em;
}

.infoSection {
  padding: .2em;
  margin-bottom: 2em;
}

.cvRightCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cvRightCol > h3 {
  padding: .5em 0;
}

.cvRightCol > img {
  width: 185px;
}

.expWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: .3em;
  margin-bottom: .5em;
}





